
/* Header */
/* @import url('style2.css') когда нужно подключить еще один цсс файл 
пробел указывает вложенность
ели есть точка между селекторами - то это уточняем класс*/

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold.woff2') format('woff2'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.svg#latobold') format('svg');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-italic.woff2') format('woff2'),
         url('../fonts/lato-italic.woff') format('woff'),
         url('../fonts/lato-italic.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular.woff2') format('woff2'),
         url('../fonts/lato-regular.woff') format('woff'),
         url('../fonts/lato-regular.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.text * {

}  - позволяет применить свойства ко всем ! ко ВСЕМ элементам, под классом text*/

body {
    font: 16px/1.25 Lato, Arial, Tahoma, Verdana, sans-serif;
    color: #848789;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: block;
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}


.wrapper {
    overflow: hidden;

}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.header {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    z-index: 100;
    padding: 35px 0;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .logo {
    margin: 0 32px;
    flex-shrink: 0;
    flex-basis: 94px;
}

.main-slider {
    text-align: center;
}

.main-slider img {
    display:block;
    margin: 0 auto;
}

.header ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: calc(50% - 47px);
}


.header .left-menu {
    justify-content: flex-end;
}
.header .right-menu {
    justify-content: flex-start;
}

.header .logo {
    margin: 0 32px;
    flex-shrink: 0;
}

.header li a {
    color: #4d4959;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    padding: 5px 32px;
}

.header li  {
    position: relative;
}

.header li:not(:last-child):after {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    background-color:#4d4959;
    right: -1px;
    bottom: 8px;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    height: 470px;
    margin: 0 auto;
    text-align: center;    
}
.about p {
    width: 1075px;
    margin-bottom: 44px;
    line-height: 2;
}
.about img {  
    text-align: center; 
    padding-top: 117px;
    padding-bottom: 33px;
}

.about h3 {
    text-transform: uppercase;
    font-weight: 700; 
    padding-bottom: 35px;
    letter-spacing: 2px;
}

.row {
    display:flex;
    
}

.col-66 {
    width: 66.6%;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.col-66 img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.icon {
    width: 120px;
    height: 100px;
}
.col-66 img:not(.icon) {
    min-width: 100%;
    min-height: 100%;
    max-width: none;
}

.col-33 {
    width: 33.3%;
    min-width: 400px ;
    flex-grow: 1;
    position: relative;
}

.col-33-3 {
    width: 33.3%;
    flex-grow: 1;
}

.col-50 {
    width: 50%;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.coll-100 {
    width: 100%;
}
.full-image{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    max-width: none;
}

.shop .row .row [class^='col-'] {
    height: 267px;
    position: relative;
    overflow: hidden;
}

.shop [class^='col-'] a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.shop [class^='col-'] a:before {
    content: '';
    opacity: 0;
    background-color: rgba(100, 194, 158, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
    z-index: 5;
}

.shop [class^='col-'] a:hover:before {
    opacity: 1;
}

.shop [class^='col-'] a:hover .shop-now {
    opacity: 1;
}

.shop [class^='col-'] {
    min-width: auto;
}

#shop .full-height {
    height: 100%;
}

.shop .shop-now {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 14px;
    opacity: 0;
    transition: .3s;
    z-index: 10;
}

.shop-now img {
    height: 30px;
    margin: 0 0 10px;
}

.text-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffff;
    min-height: 400px;
    padding: 40px 68px 20px;

}

.text-block img {
    margin: 0 0 28px;
}
.text-block h4 {
    color: #848789;
    font-size: 18px;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin: 0 0 15px;
}

.text-block p {
    color:#848789;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    text-align: justify;
    padding-bottom: 50px;
}

.text-block p:after {
    content: '';
    background-color: #4d4959;
    position: absolute;
    left: calc(50% - 25px);
    bottom: 10px;
    width: 50px;
    height: 1px;
}

.image-block {
    position: relative;
    overflow: hidden;
    min-height: 200px;
}

.full-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    max-width: none;
}


.review-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    height: 470px;
    margin: 0 auto;
    text-align: center;    
}

.review-slider h4 {
    color: #848789;
    font-size: 18px;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin: 0 0 15px;
}

.review-slider p {
    color:#848789;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    text-align: justify;
    padding-bottom: 50px;
}

.review-slider img {
    margin: 0 0 28px;
}

@media (max-width: 580px) {
    .footer-information {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #footer .container .footer-information .col-33 {
        width: 300px;
    }

    .contacts {
        text-align: center;
    }

    .designedby {
        justify-content: center;
    }

    .social {
        padding: 20px 0;
    }

    .footer {
        padding: 35px 0;
    }
}

@media (max-width: 535px) {
    .form {
        padding: 55px 0px;
    }

    .form .form-inner button {
        margin-left: 0;
        margin-top: 10px;
        height: 60px;
        font-size: 21px;
        width: 366px;
    }

    .form .form-inner input {
        height: 60px;
    }

    .form .title-form p {
        margin: 15px 15px;
    }
}

@media (max-width: 480px) {
    .nav-header label.toggle-menu {
        max-width: 40px;
    }

    .header .logo img {
        max-width: 40px !important;
    }

    .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
        display: none;
    }

