@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-bold.woff2') format('woff2'),
    url('../fonts/lato-bold.woff') format('woff'),
    url('../fonts/lato-bold.svg#latobold') format('svg');
    font-weight: 700;
    font-style: normal;

}


@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-italic.eot');
    src: url('../fonts/lato-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-italic.woff2') format('woff2'),
    url('../fonts/lato-italic.woff') format('woff'),
    url('../fonts/lato-italic.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}


@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-regular.woff2') format('woff2'),
    url('../fonts/lato-regular.woff') format('woff'),
    url('../fonts/lato-regular.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 400 16px/1.25 Lato, Arial, Tahoma, sans-serif;
    color: #848789;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;

}

.wrapper {
    overflow: hidden;
    position: relative;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

/*Вот это стили по умолчанию*/
.container {
    display: block;
    max-width: 1630px;
    margin: 0 auto;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 35px 0px;
}

.header .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-slider {
    text-align: center;
}

header .logo {
    margin: 0 32px;
    flex-shrink: 0;
    flex-basis: 94px;
}

.header .mobile-logo {
    display: none;
}

header ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: calc(50% - 47px);
}

header li a {
    font-size: 13px;
    color: #4d4959;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: block;
    line-height: 1.2;
    padding: 5px 32px;

}

header .left-menu {
    justify-content: flex-end;
}

header li {
    position: relative;
}

header li:not(:last-child):after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: #4d4959;
    right: -1px;
    bottom: 7px;
}

.one-block {
    text-align: center;
    background: #f7f7f7;
    padding: 70px 0px;
}

.text-one-block {
    color: #848789;
    line-height: 34px;
    max-width: 1089px;
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #353738;
}

.first-block h2 {
    padding: 30px 0px;
}

.rewiew h2 {
    font-size: 18px;
    text-transform: none;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 37px 0px 30px;
    color: #353738;
}

.rewiew {
    text-align: center;
    padding: 123px 0px 64px;
    background: #f7f7f7;
}

.rewiew h2 span.min {
    font-size: 18px;
    text-transform: none;
    font-weight: normal;
    letter-spacing: 2px;
    color: #848789;
}

.text-five-block {
    max-width: 1038px;
    margin: 0 auto;
    font-size: 24px;
    font-style: italic;
    line-height: 34px;
    padding-bottom: 100px;
}

.main-slider {
    margin-bottom: -4px;
}

.row {
    display: flex;
}

.col-66 {
    width: 66.6%;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.col-33 {
    width: 33.3%;
    flex-grow: 1;
    min-width: 400px;
}

.block-3 {
    position: relative;
}

.col-66 img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

img.big-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    max-width: none;
}

.icon-3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.col-66 img:not(.icon) {
    min-width: 100%;
    min-height: 100%;
    max-width: none;
}

.text-block {
    background: #fff;
    min-height: 400px;
    padding: 40px 68px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.text-block img {
    margin: 0 0 28px;
}

.text-block h4 {
    color: #353738;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 15px;
    text-align: center;
}

.text-block p {
    color: #848789;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    text-align: justify;
    padding-bottom: 50px;
}

.text-block p:after {
    content: '';
    background-color: rgba(53, 55, 56, 0.2);
    position: absolute;
    left: calc(50% - 25px);
    bottom: 10px;
    width: 50px;
    height: 1px;
}

.image-block {
    position: relative;
    overflow: hidden;
    min-height: 200px;
}

.image-block img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    z-index: 1;
}

.text-block {
    position: relative;
}

.text-block::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 99%;
    pointer-events: none;
    border-style: solid;
    border-color: transparent;
    border-width: 20px;
    height: 0;
    width: 0;
    border-top-color: #fff;
    margin-left: -20px;
}

.two-images {
    display: flex;
}

.left-block {
    order: -1
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    color: #a9afb3;
}

.swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    background: #fff;
    border: 1px solid #000;
}

.swiper-pagination-bullet-active {
    background: #a9afb3;
    border: none;
}

.swiper-pagination-text .swiper-pagination-bullet {
    bottom: 66px;
}

.nav-header {
    display: none;
}

.nav-header [type="checkbox"] {
    display: none;
}

.six-block {
    display: flex;
}

.shop-class .row .row [class^='col-'] {
    height: 267px;
    position: relative;
    overflow: hidden;
}

.shop-class img.img-col {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    max-width: none;
}

.col-100 {
    width: 100%;
}

.col-50 {
    width: 50%;
    flex-grow: 1;
}

.row [class^="col-"] {
    overflow: hidden;
}

.shop-class [class^='col-'] a {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

.shop-class [class^='col-'] a:before {
    content: '';
    opacity: 0;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    transition: .3s;
    z-index: 5;
    background: rgba(100, 194, 158, 0.8);
}

.shop-class [class^='col-'] a:hover:before {
    content: '';
    opacity: 1;
}

.shop-class [class^='col-'] a:hover .shop-now {
    opacity: 1;
}

.shop-class .shop-now {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    transition: .3s;
    opacity: 0;
    z-index: 10;
}

.shop-now img.full-image {
    margin: 0 0 10px;
    position: static;
}

#shop .verticale-image {
    height: 100%;
}

.shop-class [class^='col-'] {
    min-width: auto;
}

.discover {
    background: #282f35;
    max-height: 200px;
}

.discover .button {
    padding: 75px 0;
    max-width: 300px;
    margin: 0 auto;
}

.discover a {
    padding: 18px 57px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.form {
    padding: 109px 0;
}

.form {
    text-align: center;
}

.form .title-form p {
    font-size: 24px;
    color: #848789;
    font-style: italic;
    margin: 35px 0;
}

.form .form-inner input {
    padding: 27px 17px;
    width: 366px;
    max-width: 100%;
    font-size: 20px;
    color: #929292;
    font-style: italic;
    border: 1px solid #d3d7d9;
    height: 70px;
    max-height: 100%;
}

.form .form-inner input:focus {
    border: 1px solid #fff;
}

.form .form-inner input::-webkit-input-placeholder {
    color: #929292;
}

.form .form-inner button {
    width: 128px;
    max-width: 100%;
    font-size: 24px;
    height: 70px;
    max-height: 100%;
    background: #64c29e;
    border: none;
    color: #fff;
    margin-left: 8px;
    transition: .3s;
}

.form .form-inner button:hover {
    background: #fff;
    color: #929292;
    border: none;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    cursor: pointer;
}

.form .form-inner button:focus {
    border: none;
}

.footer {
    background: #f7f7f7;
    padding: 100px 0;
    color: #848789;
    font-size: 14px;
    font-style: italic;
}

.footer-information {
    display: flex;
    padding: 0 250px;
}

#footer .container .footer-information .col-33 {
    min-width: 100px;
}

.contacts {
    line-height: 18px;
}

.contacts p:first-child {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
}

.social {
    text-align: center;
    display: flex;
    justify-content: center;
}

.social a:nth-child(2) {
    margin: 0 14px;
}

.designedby {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.designedby img {
    margin-left: 10px;
}

.menu-button {
    display: none;
}

@media (max-width: 1200px) {
    #footer .container .footer-information {
        padding: 0 50px !important;
    }

    .col-33 {
        min-width: inherit;
    }
}

@media (max-width: 980px) {
    .container {
        padding: 0 15px;
    }

    .text-block {
        padding: 10px 28px 5px;
    }
}
@media (max-width: 768px) {
     .header {
         padding: 0;
     }

    .header .logo {
        display: none;
    }

    .header .navigation {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 78px 10px 20px;
        background: #fff;
        position: absolute;
        top: 0;
        right: -300px;
        min-height: 100vh;
        width: 280px;
        transition: .3s;
        z-index: 11;
    }

    .header ul {
        display: block;
        width: 100%;
    }

    .header li:after {
        display: none;
    }

    .header a {
        text-align: right;
        padding: 10px 0;
    }

    .header .mobile-logo {
        display: block;
        position: absolute;
        left: 10px;
        top: 10px;
        height: 80px;
        margin: 0;
    }

    .header .mobile-logo img{
        height: 100%;
    }

    .menu-button {
        display: block;
        position: absolute;
        right: 10px;
        top: 30px;
        height: 28px;
        width: 28px;
        cursor: pointer;
        z-index: 12;
    }

    .menu-button span {
        width: 100%;
        height: 2px;
        position: absolute;
        top: 13px;
        left: 0;
        background: #6dc196;
        transition: .2s;
        opacity: 1;
    }

    .menu-button:before,
    .menu-button:after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        top: 0;
        background: #6dc196;
    }

    .menu-button:after {
        top: auto;
        bottom: 0;
    }

    .menu-opened .menu-button,
    .menu-opened .navigation {
        position: fixed;
    }

    .menu-opened .navigation {
        right: 0;
    }

    .menu-opened .menu-button span {
        opacity: 0;
    }

    .menu-opened .menu-button:before {
        transform: rotate(-45deg);
        top: 26px;
    }

    .menu-opened .menu-button:after {
        transform: rotate(45deg);
    }

}

@media (max-width: 580px) {
    .footer-information {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #footer .container .footer-information .col-33 {
        width: 300px;
    }

    .contacts {
        text-align: center;
    }

    .designedby {
        justify-content: center;
    }

    .social {
        padding: 20px 0;
    }

    .footer {
        padding: 35px 0;
    }
}

@media (max-width: 535px) {
    .form {
        padding: 55px 0px;
    }

    .form .form-inner button {
        margin-left: 0;
        margin-top: 10px;
        height: 60px;
        font-size: 21px;
        width: 366px;
    }

    .form .form-inner input {
        height: 60px;
    }

    .form .title-form p {
        margin: 15px 15px;
    }
}

@media (max-width: 480px) {
    .nav-header label.toggle-menu {
        max-width: 40px;
    }

    .header .logo img {
        max-width: 40px !important;
    }

    .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
        display: none;
    }

    .text-block {
        padding: 0;
    }

    .col-66 img.icon, .col-33 img.icon-3 {
        max-width: 60px;
    }
}
